@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "IBM Plex Sans Thai", serif;
  font-weight: 400;
  font-style: normal;
}

.font-rubik{
  font-family: "Rubik Vinyl", serif;
  font-weight: 400;
  font-style: normal;
}
.text-gradient{
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(300deg, deepskyblue, darkviolet, blue);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} 
